
<div class="sideBySideForm" id="f">
    <div class="logo py-4">
        <img src="./assets/user.png" alt="user logo" width="100" height="100" />
      </div>
</div>
<div class="sideBySideForm" id="s">
<div class="sideBySideForm" id="first">
<div fxLayoutAlign="center center FxFlexFill" >
    <mat-card fxFlex="100">
      <mat-toolbar color="primary">User details </mat-toolbar>
    <div class="container">
    <form  fxLayoutAlign="stretch" fxLayout="column" #signInForm="ngForm"  (ngSubmit)="login(signInForm);">
                <div class="form-group">
                    <label for="Name" class="form-label">Userfirst name</label>
                    <input matInput type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name"  ngModel required #name="ngModel" pattern="[a-zA-Z]{5,15}">
                    <small  class="form-text text-muted" *ngIf="name.touched && !name.valid" class="text-danger">enter the username or valid username</small>
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input matInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel email required #email="ngModel">
                    <small  class="form-text text-muted" *ngIf="email.touched && !email.valid" class="text-danger">enter the email or valid email</small>
                    <div id="emailHelp" class="form-text"></div>
                </div>
            <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Phone:</label>
                            <input type="text" class="form-control"  name="phone" ngModel phone required #phone="ngModel" pattern="(0|91)?[7-9][0-9]{9}">
                            <small *ngIf="phone.invalid && phone.touched" class="text-danger" class="text-danger">Phone no is Required(minimum length 10,numbers are only allowed)</small>
                </div>
                <br>
                <div class="form-group">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday"> </div><br>
                <div class="form-group">
                <div ngbDropdown class="dropdown" >
                    <button  ngbDropdownToggle class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ngModel required>
                    Dropdown button
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a  ngbDropdownItem class="dropdown-item" href="#">Brazil</a>
                    <a ngbDropdownItem class="dropdown-item" href="#">India</a>
                    <a ngbDropdownItem class="dropdown-item" href="#">America</a>
                    </div>
                </div>
                </div>
                <br>
                <label for="gender" class="form-label">Gender</label>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input"  value ="male" id="gender" name="gender" ngModel required>
                    <label class="form-check-label" for="exampleCheck1">Male</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="radio" class="form-check-input"  value ="female" id="gender" name="gender" ngModel required>
                        <label class="form-check-label" for="exampleCheck1">Female</label>
                    </div>
                <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input matInput type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}">
                </div>
            
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label">Message</label>
                        <textarea  class="form-control" id="exampleInputPassword1" name="notes " ngModel required></textarea>
                    </div>
                <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Submit</button>
            </form>
    </div>
</mat-card>
</div>
</div>
<div class="sideBySideForm" id="second">
    <div fxLayoutAlign="center center FxFlexFill" >
        <mat-card fxFlex="100">
          <mat-toolbar color="primary">Account details </mat-toolbar>
        <div class="container">
        <form  fxLayoutAlign="stretch" fxLayout="column" #secondsign="ngForm"  (ngSubmit)="seclogin(secondsign);">
                    <div class="form-group">
                        <label for="Name" class="form-label">Username</label>
                        <input matInput type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name"  ngModel required #name="ngModel" pattern="[a-zA-Z]{5,15}">
                        <small  class="form-text text-muted" *ngIf="name.touched && !name.valid" class="text-danger">Enter the username or valid name</small>
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input matInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel email required #email="ngModel">
                        <small  class="form-text text-muted" *ngIf="email.touched && !email.valid" class="text-danger">enter the email or valid email</small>
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                
                    <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input matInput type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required pattern= "(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}">
                    </div>
                
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label">confirm Password</label>
                        <input matInput type="password" class="form-control" id="exampleInputPassword1" name="ConfirmPassword" ngModel required pattern= "(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}" >
                        </div><span id="con">{{dynamic}}</span>
                    <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!secondsign.valid">Submit</button>
                    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)" ngModel required>  I Agree Terms & Coditions
                </form>
        </div>
    </mat-card>
    </div>
    </div>
</div>